<p id="notice"><%= notice %></p>

<p>
  <b>Userdata:</b>
  <%= @pledge.userdatum_id %>
</p>

<p>
  <b>Pledgetype:</b>
  <%= @pledge.pledge_type_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @pledge.amount %>
</p>


<%= link_to 'Edit', edit_pledge_path(@pledge) %> |
<%= link_to 'Back', pledges_path %>
