<p id="notice"><%= notice %></p>

<p>
  <b>Userdata:</b>
  <%= @project.userdata_id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @project.desc %>
</p>

<p>
  <b>Image:</b>
  <%= @project.image %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
