<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @goal.project_id %>
</p>

<p>
  <b>Pledgetype:</b>
  <%= @goal.pledge_type_id %>
</p>

<p>
  <b>Total:</b>
  <%= @goal.total %>
</p>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
