<img src="/images/logo.png" />
<%= link_to "Followthru", root_path, :class => 'brand' %>
<ul class="nav">
	<li>
    <%= link_to 'Browse Projects', home_browse_path %>
    </li>
  <% if user_signed_in? %>
	<li>
    <%= link_to 'Create New Project', home_new_path %>
    </li>
	<li>
    <%= link_to 'Manage My Projects', home_manage_path %>
    </li>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
  <!-- token nav elements, just for dev stuff -->
  	<li>
	<%= link_to 'About Followthru', home_about_path %>
	</li>
  <!-- /token -->
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
</ul>